body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
}

/* about.me html properties */
.content-text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 90px;
  line-height: 1.1;
  margin: 0 0 20px 0;
}
.content-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 90px;
  line-height: 1.1;
  margin: 30px 0 15px 0;
}
.content-text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 90px;
  line-height: 1.1;
  margin: 30px 0 15px 0;
}
.content-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0;
  text-align: justify;
  line-height: 1.5;
}
.side-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 50px;
}
.content-text {
  flex: 1;
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 100%; 
}

/* Navbar Styles */
.simple-links {
  text-align: center;
  margin: 30px 0 20px 0;
}

.simple-links a {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin: 0 15px;
}

.simple-links a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .main-content {
    padding: 0 15px;
    margin-top: 15px;;
  }
  .content-text h1, .content-text h2, .content-text h3 {
    font-size: 35px;
  }
  .content-text p {
    font-size: 15px;
    line-height: 1.4;
  }
  .side-image {
    width: 250px;
    height: 250px;
  }
  .simple-links {
    margin: 15px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .simple-links a {
    font-size: 16px;
    margin: 5px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.05);
}
  .simple-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}