.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
}
.content-text h1,
.content-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.side-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}
.content-text {
  flex: 1;
  padding-right: 20px;
}
